@font-face {
	font-family: "Default";
	src: url("./font/Cafe24Ssurround-v2.0.otf") format("opentype");
}

html {
	/* 드래그 방지 */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

#Debug {
	font-family: "Default";
	font-size: 50px;
}

#n_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_8 {
	position: absolute;
	overflow: visible;
	width: 437px;
	height: 68px;
	left: 183px;
	top: 1px;
}

#title {
	left: 198px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 39px;
	text-align: center;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(36,35,43,1);
}

.n_1 .svg-image {
    width: 150px;
    height: 150px;
    x: -30px;
    y: -30px;
}

.n_2 .svg-image {
    width: 150px;
    height: 150px;
    x: 260px;
    y: -30px;
}

.disabled-svg {
	opacity: 0; /* Make it semi-transparent */
	pointer-events: none; /* Disable mouse interactions */
}

#score1 {
	left: 45px;
	top: 140px;
	position: absolute;
	overflow: visible;
	font-family: "Default";
	font-style: normal;
	font-size: 20px;
	color: rgba(36,35,43,1);
}

#score1 button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--button-bg-color);
	color: var(--button-color);
	margin: 0;
	padding: 0.3rem 0.5rem;	
	font-family: "Default";
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	display: inline-block;
	width: 3.0rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
}

#score2 {
	left: 655px;
	top: 140px;
	position: absolute;
	overflow: visible;
	font-family: "Default";
	font-style: normal;
	font-size: 20px;
	color: rgba(36,35,43,1);
}

#score2 button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--button-bg-color);
	color: var(--button-color);
	margin: 0;
	padding: 0.3rem 0.5rem;	
	font-family: "Default";
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	display: inline-block;
	width: 3.0rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
}

#form1 {
	left: 30px;
	top: 250px;
	position: absolute;
	overflow: visible;
	font-family: "Default";
	font-style: normal;
	font-size: 20px;
	color: rgba(36,35,43,1);
}

#form1 div {
	margin-bottom: 10px;
}

#form2 {
	left: 400px;
	top: 250px;
	position: absolute;
	overflow: visible;
	font-family: "Default";
	font-style: normal;
	font-size: 20px;
	color: rgba(36,35,43,1);
}

#form2 div {
	margin-bottom: 10px;
}

input {
	width: 100px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
}

.inputColor {
	width: 20px;
	height: 20px;
	border-bottom: none;
}

#addedTimeInput {
	width: 25px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
}

#setMinInput {
	width: 25px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
}

#setSecInput {
	width: 25px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--button-bg-color);
	color: var(--button-color);
	margin: 0;
	padding: 0.3rem 0.5rem;	
	font-family: "Default";
	font-size: 0.9rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	display: inline-block;
	width: auto;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
}

.mediaViewInfo {
	--web-view-name: Design;
	--web-view-id: Design;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Design;
	--homeTextColor: #ffffff;
	--awayTextColor: #ffffff;
	--button-color: #ffffff;
	--button-bg-color: #0d6efd;
	--button-hover-bg-color: #025ce2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Design {
	position: absolute;
	width: 800px;
	height: 600px;
	overflow: hidden;
	--web-view-name: Design;
	--web-view-id: Design;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#n_5 {
	fill: rgba(251,255,138,1);
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 157px;
	height: 52px;
	left: 418px;
	top: 129px;
}
#n_1 {
	fill: rgba(255,177,177,1);
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	overflow: visible;
	position: absolute;
	width: 381px;
	height: 86px;
	left: 19px;
	top: 43px;
	transform: matrix(1,0,0,1,0,0);
}
#n_ {
	left: 285px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 91px;
	text-align: center;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: var(--homeTextColor);
}
#n_2 {
	fill: rgba(112,245,255,1);
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 381px;
	height: 86px;
	left: 400px;
	top: 43px;
}
#n__k {
	left: 478px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: var(--awayTextColor);
}
#n_0 {
	left: 469px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 45px;
	text-align: center;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(36,35,43,1);
}
#n_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_4 {
	position: absolute;
	overflow: visible;
	width: 177px;
	height: 52px;
	left: 311px;
	top: 129px;
}
#n_633 {
	left: 334px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 52px;
	text-align: center;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(36,35,43,1);
}
#n__1 {
	position: absolute;
	width: 381px;
	height: 86px;
	left: 19px;
	top: 43px;
	overflow: visible;
}
#n_3 {
	fill: transparent;
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3 {
	overflow: visible;
	position: absolute;
	width: 381px;
	height: 86px;
	left: 19px;
	top: 43px;
	transform: matrix(1,0,0,1,0,0);
}
#home__q {
	left: 61px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: right;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: var(--homeTextColor);
}
#n__2 {
	position: absolute;
	width: 381px;
	height: 86px;
	left: 400px;
	top: 43px;
	overflow: visible;
}
#n_7 {
	fill: transparent;
	stroke: rgba(36,35,43,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7 {
	position: absolute;
	overflow: visible;
	width: 381px;
	height: 86px;
	left: 400px;
	top: 43px;
}
#n_n {
	position: absolute;
	width: 125px;
	height: 125px;
	left: 337px;
	top: 21px;
	overflow: visible;
}
#away__q {
	left: 540px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: "Default";
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: var(--awayTextColor);
}